<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="float-left">
            <p>&copy; <a href="https://domain.com" target="_blank">Florent V. {{ 'now' | date('Y') }}</a></p>
        </div>

        <div class="float-right">
            <span><a href="https://github.com/floviolleau/gestionnaire-ecole-de-musique">GitHub Project</a></span>
            <span><a href="https://github.com/floviolleau/gestionnaire-ecole-de-musique/issues">Issues</a></span>
        </div>
    </div>
</footer>
